<style>
    input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
    input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
</style>

<div class="m-2">
    <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
        <div class="bg-danger text-white p-2 mb-2"
            *ngIf="formSubmitted && form.invalid">
            There are problems with the form
        </div>
        
        <div class="form-group">
            <label>Name</label>
            <input class="form-control"
                name="name"
                [(ngModel)]="newProduct.name"
                #name="ngModel"
                required
                minlength="5"
                pattern="^[A-Za-z ]+$" />
                <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || name.dirty) && name.invalid">
                    <li *ngFor="let error of getValidationMessages(name)">
                        {{error}}
                    </li>
                </ul>   
        </div>
        <button class="btn btn-primary" type="submit">
            Create
        </button>
   </form>
</div>